html,body{
    
    height: 100%;
    width: 100%;
    font-family: sans-serif;

}
.text-center{
    text-align: center;
}
div {
    animation:hue 10s infinite linear;
    color: darkorchid;
    display: block;
}

.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    font-size: medium;
    font-weight: 500;
    border: 2px solid black;
    border-radius:9px ;
    cursor: pointer;
}
.row{
    margin:8px 0;
}
.row input{
    width: 290px;
    font-size: 20px;
    margin: 0;
    padding: 12px 0px;
    border: 3px solid black;
    border-radius: 5px;
}
@keyframes hue{
    from{
        -webkit-filter: hue-rotate(0deg);
    }
    to{
        -webkit-filter: hue-rotate(360deg);
    }
}
.equal{
    width: 145px;
}
.mx-auto{
    margin: auto;
}
.bg-b{
    width: 360px;
    border-radius: 8px;
    background-color: pink;
    border: 1px solid black;
}
.flex {
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.teams-center{
    align-items: center;
}